* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/futquiz.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-header a {
  font-size: 2rem;
  color: #007bff;
  text-decoration: none;
}

.form-content {
  background: white;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.form-content h2,
.form-content p {
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.form-footer {
  margin-top: 2rem;
  color: #666;
}

@media (max-width: 600px) {
  .form-header a {
    font-size: 1.5rem;
  }

  .form-content {
    padding: 1rem;
  }
}
