
body {
    font-family: "Poppins", sans-serif; 
    background-color: #fdfdfd;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #137743; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  #logo a{
    text-decoration: none;
    position: absolute;
    left: 20px;
    font-size: 33px;
    font-family: 'Luckiest Guy';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(191 146 91);
    border-bottom: 1px solid rgb(191 146 91); 
  }
  #logo{
    padding:20px 0 20px 20px;
  }
  section {
    padding: 10px;
    margin: 5px;
    background-color: #137743; 
    border-radius: 5px; 
    color: #fdfdfd;
    font-family: "Poppins", sans-serif;
}


input[type='radio'] {
    appearance: none; 
    background-color: #fff; 
    border: 2px solid #00fd08; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    vertical-align: middle; 
    margin-right: 8px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

input[type='radio']:checked {
    background-color: #0ec968; 
    border-color: #00fd08;
  }

input[type='radio'] + span {
    cursor: pointer;
    display: inline-block; 
    padding: 2px 0;
}

input[type='radio']:focus + span {
    outline: 1px dashed #aaa; 
}
  header h1,
  header p {
    margin: 0;
  }
  
  header p {
    font-size: 16px;
    opacity: 0.8;
  }
  
  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  button {
    background-color: #137743; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #137743a0; 
  }
  
  #leaderboard {
    width: 100%; 
    max-width: 500px; 
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    color: black;
  }
  
  #leaderboard h2 {
    color: #333;
    text-align: center;
  }
  
  #leaderboard ol {
    list-style-type: none;
    padding: 0;
  }
  
  #leaderboard li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  #leaderboard li:last-child {
    border-bottom: none;
  }

  #suggest-question button {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.suggest-question button {
    width: 100%;
    max-width: 200px;
}
  
  
  footer {
    position: fixed;
    color: #fff;
    background:#137743;
    text-align:right;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    padding:15px;
  }

  
  
  /* Responsiveness */
  @media (min-width: 768px) {
    main {
      flex-direction: row; 
      justify-content: space-around;
    }
  
    header p {
      font-size: 18px; 
    }
  }
  
  