
body {
    font-family: "Poppins", sans-serif; 
    background-color: #fdfdfd;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/stadium.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  header {
    
    background-color: #137743; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display:flex ;
    flex-direction:row ;
    align-content: center;
    justify-content: space-between;
  }
  #logo a{
    text-decoration: none;
    left: 20px;
    font-size: 33px;
    font-family: 'Luckiest Guy';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(191 146 91);
    border-bottom: 1px solid rgb(191 146 91); 
  }
 

  section {
    padding: 10px;
    margin: 5px;
    border-radius: 5px; 
    color: #fdfdfd;
    font-family: "Poppins", sans-serif;
}



input[type='radio'] {
    appearance: none; 
    background-color: #fff; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    vertical-align: middle; 
    margin-right: 8px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

input[type='radio']:checked {
    background-color: #0ec968; 
    border-color: #00fd08;
  }

input[type='radio'] + span {
    cursor: pointer;
    display: inline-block; 
    padding: 2px 0;
}

input[type='radio']:focus + span {
    outline: 1px dashed #aaa; 
}

header p {
    margin: 0;
    
  }
  h3 {

  }

  #userscore {
  display: block;
  align-self: flex-start ;
  background: radial-gradient(circle, rgba(74,227,147,1) 0%, rgba(19,119,67,1) 100%);
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  color:rgb(255, 255, 255);
  }
  
  header p {
    font-size: 16px;
    opacity: 0.8;
  }
  
  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;

  }
  
  button {
    background-color: #0ec968; 
    color: white;
    border: solid 1px;;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;

    
  }
  
  button:hover {
    background-color: #137743a0; 
  }
  
  a{
    color: #ffffff;
    text-decoration:none ;


  }
  
  #leaderboard, #quiztype {
    width: 100%; 
    max-width: 500px; 
    background: radial-gradient(circle, rgb(0, 205, 89) 0%, rgba(19,119,67,1) 100%);
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    
  }
  h2 {
    text-align: center;
  }
  #leaderboard h2 {
    color: #ffffff;
    text-align: center;
  }
  
  #leaderboard ol {
    list-style-type: none;
    padding: 0;
  }
  
  #leaderboard li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  #leaderboard li:last-child {
    border-bottom: none;
  }

  #suggest-question button {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.suggest-question button {
    width: 100%;
    max-width: 200px;
}
  
  
  footer {
    color: #fff;
    background:#137743;
    text-align:right;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    padding:15px;
  }

  
  
  /* Responsiveness */
  @media (min-width: 768px) {
    main {
      flex-direction: column; 
    }
  
    header p {
      font-size: 18px; 
    }
  }

  #userscore {
    display: block;
    align-self: center ;
    background: radial-gradient(circle, rgb(42, 192, 114) 0%, rgba(19,119,67,1) 100%);
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    color:rgb(255, 255, 255);
    }
  
