
body {
    font-family:luckiest guy, Helvetica, sans-serif;
    background-color: #c30000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: luckiest guy;
    color: #333;
}



/* Add more styles as needed */
