<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="bank">
        <form action="/admin" method="post">
            <input type="hidden" id="adminId" name="adminId" value="{{ admin }}">
            <p> <b> Question:</b> {{ question }}</p>
            <input type="hidden" id="q_name" name="q_name" value="{{ question }}">
            <ul>
                <b>Alternativ:</b>
                {% for answer in answers %}
                <li>{{ answer }}</li>
                {% endfor %}
            </ul>
            <p> <b>Correct answer:</b> {{ rightAns }}</p>
            <p> <b>Category:</b>  {{ cat }}</p>
            <p> <b> Level:</b> {{ level }}</p>
            <br>
            <button class="action-btn" type="submit">Approve</button>
        </form>
        <br>
        <form action="/admin" method="post">
            <input type="hidden" id="adminId" name="adminId" value="{{ admin }}">
            <input type="hidden" id="deleteQuestion" name="deleteQuestion" value="{{ question }}">
            <button class="action-btn" type="submit">Delete</button>
        </form>
    </section>
</body>
</html>
