<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="question-card">
            <div class="question-content">
                <p>{{ question }}</p>
                <ul>
                    {% for answer in answers %}
                    <li>{{ answer }}</li>
                    {% endfor %}
                </ul>
                <p>Correct answer: {{ rightAns }}</p>
                <p>Category: {{ cat }}</p>
                <p>Level: {{ level }}</p>
            </div>
            <form action="/admin" method="post">
                <input type="hidden" id="adminId" name="adminId" value="{{ admin }}">
                <input type="hidden" id="deleteQuestion" name="deleteQuestion" value="{{ question }}">
                <button class="action-btn" type="submit">Delete</button>
            </form>
        </div>
    </section>
</body>
</html>
