<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Answer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    </head>
    <body>
            <div class="quiz-container">
            <h1>Question: {{ question['question'] }}</h1>
            <p>You selected: {{ chosen }}</p>
            <p>Correct answer: {{ question['answer'] }}</p>
            <p>{{ correct }}</p>
            <!--button onclick="window.location.href='next_question'" id="next-question-btn">Next Question</button-->
            <form action="/next_question" method="post">
                <input type="hidden" id="userId" name="userId" value="{{ username }}">
                <button type="submit" id="next-question-btn" name="next-question-btn">Next</button>                
            </form>
        </div>
    </body>
</html>
