<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!--Css-->
    <link rel="stylesheet" href="/static/style.css">
    <title>FutQuiz</title>
</head>

<body>
    <header>
        <div id="logo">
            <a href="/"> &copy; FutQuiz</a>
        </div>
    </header>  
        <div id="container">
            <div id="banner">
                <div id="banner-content">
                    <h1>TAKE YOUR <span>FOOTBALL</span> <span>KNOWLEDGE TO</span> ANOTHER LEVEL</h1>
                </div>
                    <div id="banner-desc">
                        <p>
                            Here is the football quiz you need to take your football knowledge to another level. 
                            FutQuiz will learn you all the importent information you need to call yourself a football fan. 
                            So let the game start you need only to login to start the game and if you don't have an accounte just register and the you are free to go.
                            Futquiz wish you all the luck with your football learning.
                        </p>
                        <h4>Sigin or Sign up to test your football knowledge</h4>

                        <button onclick="window.location.href = 'login';"><span>Login</span></button> 
                        <button onclick="window.location.href = 'signup';"><span>Sign Up</span></button>
                    </div>
            </div>
        </div>
<footer>
        <span> &copy; FutQuiz</span>
</footer>
</body>
</html>
