<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <!--My Css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='form_style.css') }}">
    <link rel="stylesheet" href="/static/form_style.css">
    <title>Account Signup - FutQuiz</title>
</head>
<body>

<input type="hidden" id="alertMsg" name="alertMsg" value="{{ alert_msg }}">

<div id="container">
    <div id="logo">
        <a href="/"> &copy; FutQuiz</a>
    </div>

    <div class="signup-form">
        <h2>Account Signup</h2>
        <p>Become a member and enjoy exclusive promotions.</p>

        <form action="/new_user_view" method="POST">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" placeholder="Enter fullname" name="fullname" required>

            <label for="email">Email Address</label>
            <input type="email" id="email" placeholder="Enter Email" name="email" required>

            <label for="password">Create a Password</label>
            <input type="password" id="password" placeholder="Enter Password" name="password" required>

            <label for="confirm-password">Confirm Your Password</label>
            <input type="password" id="confirm-password" placeholder=" Confirm Password" name="confirm-password" required>

            <button type="submit" class="continue-button">Continue</button>
        </form>
    </div>

    <!--Footer, contains ending part of the website-->
    <footer>
        <span> &copy; FutQuiz</span>
    </footer>
</div>

<script type="text/javascript">
	document.onreadystatechange = function() {
		if(document.readyState=='loaded' || document.readyState=='complete') {
			var msg = document.getElementById("alertMsg").value;
			if (msg) {
				alert(msg);
			}
		}
	}
</script>

</body>
</html>