<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style.css">
        <title>Question Submission - FutQuiz</title>
    </head>
    <body>
        <input type="hidden" id="alertMsg" name="alertMsg" value="{{ alert_msg }}">
        <header>
            <div id="logo">
                <a href="/"> &copy; FutQuiz</a>
            </div>
        </header>  
        <div class="form-container">
            <div class="form-content">
                <h2>Suggest a Question</h2>
                <p>Help us expand our question database by suggesting your own question!</p>
                <form action="/submit_question" method="POST">
                    <div class="input-group">
                        <label for="difficulty">Difficulty</label>
                        <select id="difficulty" name="difficulty" required>
                            <option value="1">Easy</option>
                            <option value="2">Medium</option>
                            <option value="3">Hard</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="category">Category</label>
                        <select id="category" name="category" required>
                            <option value="allsvenskan">Allsvenskan</option>
                            <option value="ChaLeague">Champions-league</option>
                            <option value="world-cup">World-cup</option>
                            <option value="AllAround">All around</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="question">Your Question</label>
                        <input type="text" id="question" name="question" placeholder="Write your question here" required>
                    </div>
                    <div class="input-group">
                        <label for="answer1">Answer 1</label>
                        <input type="text" id="answer1" name="answer1" placeholder="Enter answer" required>
                    </div>
                    <div class="input-group">
                        <label for="answer2">Answer 2</label>
                        <input type="text" id="answer2" name="answer2" placeholder="Enter answer" required>
                    </div>
                    <div class="input-group">
                        <label for="answer3">Answer 3</label>
                        <input type="text" id="answer3" name="answer3" placeholder="Enter answer" required>
                    </div>
                    <div class="input-group">
                        <label for="answer4">Answer 4</label>
                        <input type="text" id="answer4" name="answer4" placeholder="Enter answer" required>
                    </div>
                    <div class="input-group">
                        <label for="CorrectAnswer">Correct answer</label>
                        <select id="CorrectAnswer" name="CorrectAnswer" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <input type="hidden" id="userId" name="userId" value="{{ user }}">
                    <input type="hidden" id="admin" name="admin" value="{{ admin }}">
                    <button type="submit" class="submit-button">Submit Question</button>
                </form>
            </div>
            <footer class="form-footer">
                © FutQuiz
            </footer>
            <script type="text/javascript">
                document.onreadystatechange = function() {
                    if(document.readyState=='loaded' || document.readyState=='complete') {
                        var msg = document.getElementById("alertMsg").value;
                        if (msg) {
                        alert(msg);
                        }
                    }
                }
            </script>
        </div>
    </body>
</html>